@CHARSET "UTF-8";

body{
	background-color: #993300;
	color: white;
}
.topdiv{
	color: white;
	text-decoration: none;
}

#wrap{
	height: 100%;
	width: 100%;
	margin: 0em;
}
#header{
	background-color: #993300;
	top: 0em;
	width: 100%;
	position: fixed;
	padding: 1em;
}
#menuwrap{
	width: 100%;
	margin-top: 3em;
	background-color: #ffffff;
	color: #000000;
}
#footer{
	width: 100%;
	bottom: 0em;
	padding: 3em;
	text-align: center;
}

/* test sample */
#enter{
	vertical-align: middle;
	text-align: center;
	font-size: xx-large;
	font-style: oblique;
}