@CHARSET "UTF-8";

body{
	background-color: #993300;
	color: white;
}
.topdiv{
	color: white;
	text-decoration: none;
}

#login_img{
	float: right;
	height: 3em;
	width: 3em;
	border-radius:1.5em;
	margin-right: 3em;
}
/* #login_modal{
   display:block;
   position:fixed;
   width:100%;
   height:100%;
   z-index:999;
   background-color:#000;
   opacity:0.5;
} */

#wrap{
	height: 100%;
	width: 100%;
	margin: 0em;
}
#header{
	background-color: #993300;
	top: 0em;
	width: 100%;
	height: 3em;
	padding: 1em;
	position: fixed;
}

#menuwrap{
	width: 100%;
	margin-top: 4.95em;
	background-color: #ffffff;
	color: #000000;
	padding: 0.5em;
}
#footer{
	width: 100%;
	height: 4em;
	bottom: 0em;
	padding: 3em;
	text-align: center;
}

/* test sample */
#enter{
	vertical-align: middle;
	text-align: center;
	font-size: xx-large;
	font-style: oblique;
}