<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>	
 	<typeAliases>
 		<typeAlias alias="guestVO" type="com.bucketlist.dto.GuestBrdVO"/>
 	</typeAliases>
	<mappers>
		<mapper resource="mybatis/mapper/guestboard.xml"/>
	</mappers>
</configuration>